<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='app.css') }}"
    />
  </head>
  <body>
    {% include 'flash_message.html' %} {% block content %} {% endblock %}
    <script>
      setTimeout(function () {
        var flashMessages = document.querySelectorAll(".alert");
        flashMessages.forEach(function (message) {
          message.style.opacity = "0";

          setTimeout(function () {
            message.style.display = "none";
          }, 500);
        });
      }, 4000);
    </script>
  </body>
</html>
