<!--{# if session.username #} -->
{% extends "base.html" %} {% block title %}Profiles{% endblock %} {% block
content %}
<h2>Profiles:</h2>
<br />

<!-- Always show the "Create your own profile" button -->
<a href="/create_your_profile">Create your own profile</a>
<br />

<!-- Correct way is to show the button only if the user doesn't have a profile -->
<!--{% if not user_has_profile %}
  <a href="/create_your_profile">Create your own profile</a>
  <br />
{% endif %}-->

<ul>
  {% for profile in profiles %}
  <li class="profile-item">
    <div class="profile-info">
      <strong>Name:</strong> {{ profile[0] }}
      <a href="{{ url_for('main_routes.view_profile', username=profile[0]) }}">
        <button>View Profile</button>
      </a>
    </div>
  </li>
  {% else %}
  <li><strong>No profiles yet</strong></li>
  {% endfor %}
</ul>

<a href="/logout">Log out</a>
{% endblock %}
<!--{#endif#}-->
